<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioWeb</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioWeb.styles.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="bg-white shadow-lg">
            <div class="max-w-3xl mx-auto">
                <!-- Primary menu -->
                <div class="grid sm:grid-cols-4 text-lg gap-4 text-center py-4 px-8">
                <div class="">
                    <a href="/" class="hover:font-bold p-2">Home</a>
                </div>
                <div>
                    <a href="/About" class="hover:font-bold p-2">
                    About Us
                    </a>
                </div>
                <div>
                    <a href="#" class="hover:font-bold p-2" to="/works">
                    Works
                    </a>
                </div>
                <div>
                    <a href="#" class="hover:font-bold p-2">
                    Image Archive
                    </a>
                </div>
                </div>
            </div>
            <div class="absolute  left-1/2 transform -translate-x-1/2">
                <svg 
                    class="filter drop-shadow-lg" 
                    width="160" 
                    height="80" 
                    viewBox="0 0 160 80" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M160 0C149.391 0 139.217 4.21427 131.716 11.7157C124.214 19.2172 120 29.3913 120 40C120 50.6087 115.786 60.7828 108.284 68.2843C100.783 75.7857 90.6087 80 80 80C69.3913 80 59.2172 75.7857 51.7157 68.2843C44.2143 60.7828 40 50.6087 40 40C40 29.3913 35.7857 19.2172 28.2843 11.7157C20.7828 4.21427 10.6087 0 0 0H160Z" fill="white" />
                    <path d="M70.2832 27.3064C70.3157 27.3105 70.3485 27.3105 70.3809 27.3064C70.4938 27.2738 70.605 27.2376 70.7161 27.2005C71.4806 26.9463 72.2397 26.6885 73.0086 26.4379C73.6404 26.2298 74.2767 26.038 74.922 25.8779C75.4305 25.7524 75.9428 25.6451 76.459 25.5558C76.8515 25.4889 77.2468 25.4346 77.642 25.3875C77.8983 25.3577 78.1564 25.3441 78.4136 25.3215C79.1935 25.265 79.9759 25.2523 80.7572 25.2835C81.1247 25.2916 81.4903 25.3269 81.8569 25.3595C82.184 25.3884 82.5093 25.4291 82.8346 25.4753C83.1357 25.5178 83.4369 25.5658 83.7362 25.6246C86.0833 26.0713 88.3385 26.9165 90.4058 28.1242C91.8498 28.9655 93.188 29.9798 94.3912 31.1449C97.3568 33.9964 99.3868 37.6958 100.208 41.746C100.312 42.2481 100.4 42.753 100.47 43.2605C100.519 43.6224 100.559 43.9842 100.589 44.3461C100.624 44.7559 100.649 45.1648 100.659 45.5756C100.672 46.0569 100.67 46.5373 100.641 47.0231C100.623 47.3388 100.603 47.6563 100.571 47.9676C100.54 48.2788 100.5 48.5945 100.451 48.9066C100.384 49.3354 100.303 49.7612 100.208 50.184C99.8996 51.5306 99.4367 52.8362 98.8283 54.0742C98.0819 55.5882 97.1513 57.0023 96.0581 58.2837C95.0698 59.4568 93.9749 60.5342 92.7879 61.5016C90.3277 63.5239 87.4186 64.914 84.3098 65.5528C83.7888 65.6614 83.2648 65.7497 82.7378 65.8179C82.3507 65.8676 81.9617 65.9038 81.5728 65.9346C81.1121 65.9708 80.6515 65.9771 80.1899 65.9934C79.6038 66.0133 79.0177 65.9844 78.4324 65.9572C77.9404 65.9346 77.4466 65.8866 76.9618 65.8215C72.8963 65.2837 69.0746 63.5601 65.9653 60.862C63.9813 59.1596 62.3425 57.0856 61.1392 54.7545C60.3595 53.2494 59.7824 51.6461 59.423 49.9868C59.3182 49.5001 59.2276 49.0116 59.1631 48.5194C59.1102 48.1123 59.0735 47.7052 59.0493 47.2945C59.0054 46.6322 59.0009 45.9691 59 45.3042C59 44.2185 59 43.142 59.0054 42.0609C59.0054 41.0356 59.0081 40.0103 59.0134 38.9849C59.0134 38.0694 59.0164 37.1539 59.0224 36.2383C59.0224 35.8204 59.0248 35.4021 59.0296 34.9835C59.035 34.1711 59.0406 33.3584 59.0466 32.5454C59.0502 31.8271 59.0532 31.1088 59.0556 30.3904C59.0591 29.6166 59.0621 28.8431 59.0645 28.0699C59.0645 27.3679 59.0684 26.6656 59.0762 25.9629L59.1031 21.5833C59.1066 20.9283 59.1093 20.2731 59.1111 19.6175C59.1147 18.4896 59.1189 17.3612 59.1237 16.2321C59.1237 16.1769 59.1282 16.1218 59.1326 16.0666C59.1353 16.0512 59.1427 16.037 59.1538 16.0261C59.1649 16.0153 59.1792 16.0082 59.1945 16.006C59.2178 16.006 59.2411 16.0014 59.2644 16.0014H69.9588C70.3128 16.0014 70.2743 15.9607 70.2743 16.3135C70.2743 19.872 70.2743 23.4319 70.2743 26.9933C70.2711 27.0978 70.2741 27.2023 70.2832 27.3064ZM90.7625 45.5584C90.7571 45.4507 90.7463 45.2381 90.7365 45.0246C90.7107 44.5282 90.6466 44.0345 90.5447 43.5482C90.3599 42.6277 90.0505 41.7373 89.6252 40.902C88.9157 39.5063 87.912 38.2844 86.6847 37.3221C85.3946 36.2994 83.8941 35.581 82.2933 35.2196C81.9268 35.1355 81.5584 35.0704 81.1856 35.0233C80.9212 34.9899 80.6568 34.9618 80.3924 34.9501C79.8613 34.9241 79.329 34.9335 78.799 34.9781C78.4021 35.0126 78.0073 35.0675 77.616 35.1428C76.516 35.3565 75.4544 35.7375 74.4676 36.2727C72.9774 37.0704 71.6925 38.2086 70.7152 39.5965C69.5031 41.2926 68.8279 43.3193 68.7785 45.41C68.7451 46.8823 69.0241 48.3447 69.5967 49.6991C70.1519 51.0092 70.9613 52.1937 71.9771 53.1831C73.2957 54.4758 74.9133 55.4156 76.6831 55.917C77.2617 56.0835 77.8532 56.2003 78.4513 56.2662C78.7623 56.3015 79.0741 56.3296 79.386 56.3404C80.1833 56.3672 80.9812 56.309 81.7663 56.1667C82.4293 56.0501 83.0801 55.8714 83.7102 55.633C85.9445 54.7825 87.7431 53.3712 89.0597 51.3565C90.1862 49.6349 90.7401 47.7287 90.7625 45.5584Z" fill="black" />
                </svg>
            </div>
        </nav>
    </header>
    <main role="main" class="">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        &copy; 2024 - PortfolioWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
