@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-red-200 w-full">
    <div class="py-32 text-center">
    <h1 class="font-extrabold text-5xl">Navbar with tailwind!</h1>
    </div>
</div>
